.Centro {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: large;
}

.App {
  width: 75vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  border: solid black;
  flex: 33%;
  height: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
}

#s0 {
  border-top: none;
  border-left: none;
}

#s1 {
  border: none;
}

#s2 {
  border-top: none;
  border-right: none;
}

#s3 {
  border-left: none;
}

#s4 {
  border-left: none;
  border-right: none;
}

#s5 {
  border-right: none;
}

#s6 {
  border-left: none;
  border-bottom: none;
  border-top: none;
}

#s7 {
  border: none;
}

#s8 {
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.square:active {
  background-color: lightsteelblue;
}

.menu {
  border: none;
}

button {
  margin-top: 20px;
  padding: 10px;
}

.ai {
  margin-right: 20px;
}